* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #527bff;
  border-radius: 3px;
  padding: 1px;
}

a {
  color: #527bff;
}
